<div class="container-fluid">
		<div class="checkbox">
  			<label><input type="checkbox" ng-checked="$ctrl.autoRefreshEnabled" 
  				ng-click="$ctrl.toggleAutoReload()"><b>Auto-refresh?</b></label>
		</div>
	
		<div class="panel panel-default">
			<div class="panel-heading">
		    <h3 class="panel-title">Person Actions</h3>
		  </div>
		  <div class="panel-body">
		    <form class="navbar-form navbar-left">
			  <div class="form-group">
			  	<input type="text" class="form-control" placeholder="id" ng-model="$ctrl.personId">
			    <input type="text" class="form-control" placeholder="name" ng-model="$ctrl.name">
			    <input type="text" class="form-control" placeholder="age" ng-model="$ctrl.age">
			  </div>
			  <button type="button" class="btn btn-default" ng-click="$ctrl.createPerson({name: $ctrl.name,age: $ctrl.age})">create</button>
			  <button type="button" class="btn btn-default" ng-click="$ctrl.updatePerson({id: $ctrl.personId, name: $ctrl.name, age: $ctrl.age})">update</button>
			  <button type="button" class="btn btn-default" ng-click="$ctrl.destroyPerson({id: $ctrl.personId})">delete</button>
			</form>
		  </div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
		    <h3 class="panel-title">Table Actions</h3>
		  </div>
		  <div class="panel-body">
		    <form class="navbar-form navbar-left">
		      <input type="text" class="form-control" placeholder="id" ng-model="$ctrl.tableId">
			  <button type="button" class="btn btn-default" ng-click="$ctrl.createTable()">create</button>
			  <button type="button" class="btn btn-default" ng-click="$ctrl.updateTable({id: $ctrl.tableId})">update</button>
			  <button type="button" class="btn btn-default" ng-click="$ctrl.destroyTable({id: $ctrl.tableId})">delete</button>
			</form>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3 class="panel-title">People</h3></div>
		
		  <!-- Table -->
		  <table class="table table-striped table-bordered" id="people.table">
		  	<thead>
			  	<tr>
			  		<th>Id</th>
			  		<th>Name</th>
			  		<th>Age</th>
			  	</tr>
		  	</thead>
		  	<tr ng-if="$ctrl.people.length==0"><td colspan="3">No people known</td></tr>
		    <tr ng-repeat="person in $ctrl.people">
		    	<td>{{person.getId()}}</td>
		    	<td>{{person.getName()}}</td>
		    	<td>{{person.getAge()}}</td>
		    </tr>
		  </table>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3 class="panel-title">Tables</h3></div>
		  
		  <!-- Table -->
		  <table class="table table-striped table-bordered" id="tables">
		  	<thead>
		  		<tr>
		  			<th>Id</th>
		  		</tr>
		  	</thead>
		  	<tr ng-if="$ctrl.tables.length==0"><td colspan="3">No tables available</td></tr>
		  	<tr ng-repeat="table in $ctrl.tables">
			    <td>{{table.getId()}}</td>
		   </tr>
		  </table>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3 class="panel-title">Seating Arrangements</h3>
		  	<b ng-if="($ctrl.tableUpdated+'').length > 0">(Table {{$ctrl.tableUpdated}})</b></div>

		
		  <!-- Seating arrangements -->
		  <table class="table table-striped table-bordered" id="seating.arrangements.table">
		  	<thead>
		  		<tr>
		  			<th>Position</th>
		  			<th>Person Id</th>
		  			<th>Table Id</th>
		  		</tr>
		  	</thead>
		  	<tr ng-if="$ctrl.seating_arrangements.length==0"><td colspan="3">No people seated</td></tr>
		  	<tr ng-repeat="seating in $ctrl.seating_arrangements">
			    <td>{{seating.getPosition()}}</td>
			    <td>{{seating.getPerson().getId()}}</td>
			    <td>{{seating.getTable().getId()}}</td>
		   </tr>
		  </table>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3 class="panel-title">Validation<b>({{$ctrl.validation_messages.length}})</b></h3></div>

		
		  <!-- Seating arrangements -->
		  <table class="table table-striped table-bordered" id="validation.table">
		  	<thead>
		  		<tr>
		  			<th>Message</th>
		  		</tr>
		  	</thead>
		  	<tr ng-if="$ctrl.validations.length==0"><td colspan="3">No invalid updates</td></tr>
		  	<tr ng-repeat="validation_msg in $ctrl.validation_messages track by $index">
			    <td>{{validation_msg}}</td>
		   </tr>
		  </table>
		</div>
	</div>
</div>